<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vashon Bird Calls</title>

    <!-- Bootstrap -->
    <link href="bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
      
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
      
      <style>
      body { padding-top: 20px; background-color: #eee; padding-bottom: 40px;}
      .btn { margin-bottom: 20px;}
      .title-p { margin: 20px 0; }
      .main-menu { margin: 0; padding: 0;}
      .main-menu-item {
        cursor: pointer;
        list-style-type: none;
        border: 1px solid #ccc;
        margin-top: -1px;
        padding: 10px;
        position: relative;
      }
      .main-menu-chevron {
        position: absolute;
        top: 35%;
        right: 10px;
        color: #aaa;
      }
      .topbar {
        padding: 10px 0;
      }
      .topbar .btn i { color: #ccc;}
      img.full-width { width: 100%; }
      
      #footer { padding: 10px 0; text-align: right;}
      .srt { background: #cc0000; display: inline-block; width: 10px; height: 10px; }
      </style>
  </head>
  <body>
    <div class="container" >
      <div id="js-container"></div>
    </div>
    
        
    <script type="text/template" id="template-main-menu">
      <h2>Learn</h2>
      <h1>Vashon Bird Calls</h1>
      <p class="title-p">Simple audio flashcards of the most common birds on Vashon this April, May, &amp; June.</p>
      
      <ul class="main-menu">
        <% _.each(groups, function (group) { %>
        <li class="main-menu-item" data-url=<%= group.url %>>
          <h4><%= group.title %></h4>
          <p><%= group.subtitle %></p>
          <i class="fa fa-chevron-right main-menu-chevron fa-3x"></i>
        </li>
        <% }) %>
      </ul>
      <div id="footer">app by <span class="srt"></span> <a href="http://www.smallredtile.com">small red tile</a></div>
    </script>
    
    <script type="text/template" id="template-play">
      
      <div class="topbar">
        <button id="js-home" class="btn btn-default"><i class="fa fa-chevron-left"></i> Home</button>
      </div>
      
      <audio id="demo" src="<%= call.call %>"></audio>
      <button id="js-play" onclick="document.getElementById('demo').play()"  class="btn btn-primary btn-block btn-lg">
        <i class="fa fa-play fa-4x"></i>
      </button>
      <button id="js-pause" onclick="document.getElementById('demo').pause()" class="btn btn-primary btn-block btn-lg">
        <i class="fa fa-pause fa-4x"></i>
      </button>
      <button type="button" class="btn btn-primary btn-block btn-lg" id="js-reveal">Reveal</button>
    </script>
    
    <script type="text/template" id="template-revealed">
      
      <div class="topbar">
        <button id="js-home" class="btn btn-default"><i class="fa fa-chevron-left"></i> Home</button>
      </div>
      
      <button type="button" class="btn btn-primary btn-block btn-lg" id="js-next">Next</button>
      <h1><%= call.common_name %></h1>
      <p><img class="full-width" src="<%= call.image.src %>"></img></p>
      <p>Photo by <a href="<%= call.image.contributor_url %>"><%= call.image.contributor %></a></p>
    </script>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
    <script src="underscore.js"></script>
    
    <script>
    
    BC = {};
    
    var $el = $('#js-container');
    var playTemplate = _.template($('#template-play').html());
    var revealedTemplate = _.template($('#template-revealed').html());
    var mainMenuTemplate = _.template($('#template-main-menu').html());
    var call;
    var nextCall = (function () {
      var i = 0, k, m, ret;
      return function () {
        do { k = _.random(BC.calls.length-1); } while (k == i);
        i = k;
        
        // choose a random image
        ret = BC.calls[i]
        m = _.random(ret.images.length-1);
        ret.image = ret.images[m];
        
        return ret;        
      }
    }());
    
    var showPlay = function () {
      call = nextCall();
      $el.html(playTemplate({call:call}));
      $('#js-reveal').on('click', function () {
        showRevealed();
      });
      
      var revealPlay = function () {
        $('#js-play').show();
        $('#js-pause').hide();
      };
      var revealPause = function () {
        $('#js-play').hide();
        $('#js-pause').show();
      };
      
      $('#js-home').on('click', showMainMenu);
      
      $('#js-play').on('click', function () {
        document.getElementById('demo').play();
        revealPause();
      });
      
      $('#js-pause').on('click', function () {
        document.getElementById('demo').pause();
        revealPlay();
      });      
      
      revealPlay();
      
    };
    
    var showRevealed = function () {
      $el.html(revealedTemplate({call:call}));
      
      $('#js-home').on('click', showMainMenu);
      
      $('#js-next').on('click', function () {
        showPlay();
      });
    }
    
    var showMainMenu = function () {
      $el.html(mainMenuTemplate({
        groups: [
        {
          title: 'Song birds 1',
          subtitle: '6 common song birds',
          subtitle2: 'Flycatchers, Songbirds and Allies (Order Passeriformes)',
          url: 'data/passeriformes3.json'
        },
        {
          title: 'Song birds 2',
          subtitle: '14 common song birds',
          subtitle2: 'Flycatchers, Songbirds and Allies (Order Passeriformes)',
          url: 'data/passeriformes2.json'
        },
        {
          title: 'Song birds 3',
          subtitle: '13 common song birds',
          subtitle2: 'Flycatchers, Songbirds and Allies (Order Passeriformes)',
          url: 'data/passeriformes1.json'
        },
        {
          title: 'Song birds 4',
          subtitle: '16 common song birds',
          subtitle2: 'Flycatchers, Songbirds and Allies (Order Passeriformes)',
          url: 'data/passeriformes4.json'
        },
        {
          title: 'Shore birds',
          subtitle: '14 birds you\'ll find on the beach',
          subtitle2: 'Shorebirds, Gulls, Auks and Allies (Order Charadriiformes)',
          url: 'data/charadriiformes.json'
        },
        {
          title: 'Ducks, Geese, and Swans',
          subtitle: '19 plump birds that sometimes quack',
          subtitle2: 'Waterfowl (Order Anseriformes)',
          url: 'data/anatidae.json'
        }
        ]
      }));
      $('.main-menu-item').on('click', function () {
        var url = $(this).data('url');
        
        $.ajax({
          dataType: 'json',
          url:  url,
          success: function (birdCallData) {
            BC.calls = birdCallData;  
            showPlay();
          }
        });
      });
    };
    
    showMainMenu();

    
    </script>
    
  </body>
</html>